---
type Props = {
  id: string;
  title?: string;
};

const { id, title = "YouTube video" } = Astro.props as Props;
const src = `https://www.youtube.com/embed/${id}`;
---

<div class="youtube-wrap">
  <iframe
    src={src}
    title={title}
    loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
